<!DOCTYPE html>
<html>
<head>
<style> 
.content {
  max-width: 500px;
  margin: auto;
}

body {
  background-image: url("img_girl.jpg");
  height: 100%;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px;
}

</style>
</head>
<body>
<a href="prediction.html">
    <p align="right">
    <input type="button" value="Prediction" style="margin:20px 20px;color:black;width:200px;height:50px"></input>
    </p>
</a>
    <h2><center><p>Chronic Kidney</center></h2>
    <h2><center>Disease prediction</p></Center></h2>
    
</body>
</html>